.card
    &-main
        padding-top: 60px
        padding-bottom: 30px
        background: url(../img/pages-bg.jpg) center top no-repeat
        background-size: 100%
        .container
            position: relative
        &__breadcrumbs
            margin-bottom: 5px
            a
                margin-right: 20px
                font-size: 14px
                line-height: 103.68%
                color: rgba(53, 53, 53, 0.4)
                text-decoration: none
                &:hover, &.active
                    color: #2AB46C
        &__title
            margin-top: 0
            margin-bottom: 30px
            font-weight: bold
            font-size: 67px
            line-height: 103.68%
            color: #000000
        &__links
            position: absolute
            right: 0
            top: 0
            display: flex
            align-items: center
            grid-gap: 35px
            a
                font-size: 12.3423px
                line-height: 143.7%
                text-align: center
                color: #353535
                text-decoration: none
                span
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-bottom: 3px
                    width: 92px
                    height: 92px
                    border-radius: 50%
                    background-color: #fff
                    overflow: hidden
                    border: 3px solid #B9B9B9
                    img
                        max-width: 95%
                        max-height: 95%
                &.active, &:hover
                    span
                        border: 3px solid #2AB46C
        &__main
            position: relative
        &__pricelist
            font-size: 13.8851px
            line-height: 103.68%
            text-decoration-line: underline
            color: #353535
            position: absolute
            top: 60px
            left: 50px
        &__right
            width: 285px
            position: absolute
            right: 0px
            top: 35px
            z-index: 2
        &__price
            font-weight: 600
            font-size: 40px
            line-height: 103.68%
            margin-bottom: 20px
            color: #2AB46C
            z-index: 2
        &__konf
            display: flex
            align-items: center
            text-decoration: none
            &-point
                margin-right: 15px
                width: 78px
                height: 78px
                display: flex
                justify-content: center
                align-items: center
                border: 1px solid #2AB46C
                border-radius: 50%
                span
                    display: block
                    width: 18px
                    height: 18px
                    background: #2AB46C
                    border-radius: 50%
            &-text
                font-weight: 600
                font-size: 24.6847px
                line-height: 123.7%
                border-bottom: 2px solid #2AB46C
                color: #2AB46C
                text-decoration: none
        &__slider
            width: 1000px
            max-width: 100%
        &__nav
            position: absolute
            bottom: 50px
            right: 0
    &-features
        padding: 95px 0
        background: #F8F8F8
        &__title
            margin-top: 0
            font-weight: 600
            font-size: 40px
            line-height: 103.68%
            color: #353535
            margin-bottom: 35px
        &__subtitle
            font-size: 24.6847px
            line-height: 103.68%
            margin-bottom: 70px
            color: #353535
        &__wrap
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 55px 150px
        &__name
            font-weight: 600
            font-size: 19px
            line-height: 129.18%
            color: #2AB46C
            margin-bottom: 22px
        &__text
            font-size: 14px
            line-height: 173.2%
            color: #212121
    &-parts
        padding: 105px 0
        &__title
            margin-top: 0
            margin-bottom: 35px
            font-weight: 600
            font-size: 40px
            line-height: 103.68%
            color: #353535
        .container
            position: relative
        &__tabs
            width: 540px
            position: absolute
            top: 80px
            right: 0
        &__wrap
            display: flex
            justify-content: space-between
        &__right
            width: 540px
            padding-top: 240px
        &__img
            width: 100%
            height: 360px
            img
                width: 100%
                height: 100%
                object-fit: cover
        &__text
            width: calc(100% - 620px)
            h3
                margin-top: 0
                margin-bottom: 25px
                border-bottom: 2px solid #C4C4C4
                padding-bottom: 9px
                font-weight: 600
                font-size: 25px
                line-height: 123.7%
                color: #353535
            h4
                margin: 0
                padding-top: 20px
                padding-bottom: 13px
                font-weight: 600
                font-size: 18.5135px
                line-height: 129.18%
                color: rgba(33, 33, 33, 0.6)
            p
                font-size: 14px
                margin-top: 0
                margin-bottom: 10px
                line-height: 173.2%
                color: #212121
        &__cont
            &-block
                display: none
                &.active
                    display: block
        &__tabs
            display: flex
            flex-wrap: wrap
            button
                width: auto
                margin-right: 16px
                margin-bottom: 15px
                padding: 0 32px
                &.active
                    color: #000
                    background-color: #fff
    &-info
        padding-bottom: 100px
        &__wrap
            display: flex
            justify-content: space-between
        &__right
            width: 540px
        &__bottom
            display: flex
            align-items: center
            padding-top: 60px
            .btn:nth-child(2)
                margin-left: 15px
                width: 250px
        &__left
            width: 485px
        &__img
            width: 100%
            position: relative
            img
                max-width: 100%
        &__width
            font-weight: 600
            font-size: 19px
            line-height: 129.18%
            color: rgba(33, 33, 33, 0.6)
            text-align: center
            .line
                margin-bottom: 12px
                height: 1px
                position: relative
                background-color: #000
                &::after
                    content: ""
                    width: 1px
                    height: 25px
                    display: block
                    position: absolute
                    right: 0
                    top: -12px
                    background-color: #000
                &::before
                    content: ""
                    width: 1px
                    height: 25px
                    display: block
                    position: absolute
                    left: 0
                    top: -12px
                    background-color: #000
        &__height
            font-weight: 600
            font-size: 19px
            line-height: 129.18%
            color: rgba(33, 33, 33, 0.6)
            text-align: center
            transform: rotate(-90deg)
            position: absolute
            right: -167px
            width: 300px
            top: 150px
            .line
                margin-bottom: 12px
                height: 1px
                position: relative
                background-color: #000
                &::after
                    content: ""
                    width: 1px
                    height: 25px
                    display: block
                    position: absolute
                    right: 0
                    top: -12px
                    background-color: #000
                &::before
                    content: ""
                    width: 1px
                    height: 25px
                    display: block
                    position: absolute
                    left: 0
                    top: -12px
                    background-color: #000
    &-photos
        padding-top: 85px
        padding-bottom: 120px
        background: #F8F8F8
        &__title
            font-weight: 600
            font-size: 40px
            line-height: 103.68%
            color: #353535
            margin-bottom: 50px
            margin-top: 0
        &__wrap
            display: grid
            grid-template-columns: repeat(4, 1fr)
            grid-gap: 35px
            a
                display: block
                width: 100%
                height: 160px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
    &-last
        padding-top: 150px
        padding-bottom: 95px
        &__img
            margin-bottom: 150px
            img
                max-width: 100%
        &__text
            font-weight: 600
            font-size: 38px
            line-height: 129.68%
            color: #353535
            a
                color: #2AB46C
@media(max-width: 1199px)
    .card
        &-main
            &__slider
                max-width: 80%
            &__links
                grid-gap: 10px
        &-info
            &__wrap
                display: block
            &__right
                padding-top: 50px
@media(max-width: 991px)
    .card
        &-main
            &__links
                position: static
            &__right, &__pricelist
                position: static
                margin-top: 25px
                display: block
        &-features
            &__wrap
                grid-gap: 40px
        &-parts
            &__tabs
                position: static
                width: 100%
                margin-bottom: 40px
            &__wrap
                display: block
            &__text
                width: 100%
            &__right
                padding-top: 40px
                width: 100%
        &-photos
            &__wrap
                grid-template-columns: repeat(3, 1fr)
                grid-gap: 20px
@media(max-width: 767px)
    .card
        &-features
            &__wrap
                grid-template-columns: repeat(2, 1fr)
        &-photos
            &__wrap
                grid-template-columns: repeat(2, 1fr)
        &-last
            &__text
                font-size: 28px
                a
                    display: block
@media(max-width: 575px)
    .card
        &-main
            padding: 50px 0
            padding-top: 20px
            &__title
                font-size: 32px
            &__links
                flex-wrap: wrap
                grid-gap: 0
                a
                    width: 50%
                    margin-bottom: 20px
                    span
                        margin: 0 auto
            &__slider
                width: 100%
                max-width: 100%
            &__nav
                position: static
        &-features
            padding: 40px 0
            &__title
                font-size: 24px
                margin-bottom: 20px
            &__subtitle
                font-size: 18px
                margin-bottom: 40px
            &__wrap
                display: block
            &__block
                margin-bottom: 25px
            &__name
                margin-bottom: 10px
        &-parts
            padding: 40px 0
            &__title
                font-size: 24px
                margin-bottom: 40px
            &__tabs
                margin-bottom: 25px
                button
                    height: 36px
                    margin-bottom: 8px
                    padding: 0 15px
                    font-size: 13px
            &__text
                h3
                    margin-bottom: 15px
                h4
                    padding-top: 15px
                    padding-bottom: 10px
            &__img
                height: 230px
        &-info
            padding-bottom: 50px
            &__right
                width: 100%
            &__left
                max-width: 100%
                overflow: hidden
            &__img
                max-width: 90%
            &__height
                width: 200px
                right: -110px
                top: 100px
            &__bottom
                padding-top: 30px
        &-photos
            padding: 40px 0
            &__title
                margin-bottom: 30px
                font-size: 24px
            &__wrap
                grid-template-columns: 1fr
                a
                    height: auto
        &-last
            padding: 40px 0
            &__img
                margin-bottom: 40px
            &__text
                font-size: 16px
@media(max-width: 360px)
    .card
        &-info
            &__bottom
                display: block
                .btn
                    width: 100%
                    &:nth-child(2)
                        width: 100%
                        margin-left: 0
                        margin-top: 15px
